<div class="container py-5">
  <form class = "mx-autho" style="max-width: 25rem;" #form="ngForm" (ngSubmit) = 'login(form)' >
     <h1 class="mb-5" text-center>Inicio del Curso</h1>
     <div class="mb-3">
      <label for="email">Email</label>
      <input id="email" name="email" type="username" class="form-control" [(ngModel)]="creds.username">
     </div>

     <div class="mb-3">
      <label for="password">Password</label>
      <input id="password" name="password" type="password" class="form-control"  [(ngModel)]="creds.password">
     </div>
     <div class="d-grid">
        <button class="btn btn-lg btn-primary">Ingresar</button>
     </div>

  </form>
</div>
